<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Learn PHP Fundamentals - PHP is Cool !</title>
      <link rel="stylesheet" href="../assets/style.css" />
   </head>
   <body>
      <!--  Header  -->
      <header class="page-header" role="banner">
         <h1 class="project-name">Learn PHP Fundamental</h1>
         <h2 class="project-tagline">PHP is cool</h2>

         <a href="https://github.com/odan/learn-php" class="btn"
            >View on GitHub</a
         >
      </header>
      <main id="content" class="main-content" role="main">
         <h1 class="learn-php-fundamentals">Learn PHP Fundamental</h1>

         <p>
            <a href="https://www.php.net/" target="_blank">
               <img src="../assets/php-logo.svg" alt="php-logo" width="250" />
            </a>
         </p>
         <p>
            A curated list of resources for <a href="https://php.net/">PHP</a>
         </p>
         <h2 id="table-of-contents">Table of Contents</h2>

         <!-- Footer -->
         <footer class="site-footer">
            <span class="site-footer-owner">Learn PHP Fundamental </span>
            <span class="site-footer-credits"
               >This page was created by
               <a href="http://himalayaminds.com/">HimalayaMinds</a></span
            >
         </footer>
      </main>
   </body>
</html>
